body{
  background-color: black;
     height: 4000px;
}

.zp{
     font-size:26px;   
     margin-left: 500px;
     margin-top: 35px;	
     color: royalblue;      
}


.page1{
  margin-left: 400px;
     color:royalblue;    
}

.page2{
   color:royalblue;   
}







.b1{
     display: block;
     color:royalblue;
     text-align: center;
     }

.b2{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b3{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b4{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b5{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b6{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b7{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b8{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b9{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b10{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b11{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b13{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b14{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b15{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b16{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b17{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b18{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }

.b20{
     display: block;
     color:royalblue;
     text-align: center;
     margin-top: 300px;
     }




.h1{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h2{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h3{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h4{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h5{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h6{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h7{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h8{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h9{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h10{
     display: block;
     height: 600px;
     margin: 0 auto;
}

.h11{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h12{
     display: block;
     height: 100%;
     margin: 300px auto;
}

.h13{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h14{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h15{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h16{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h17{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h18{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h19{
     display: block;
     height: 100%;
     margin: 300px auto;
}

.h20{
     display: block;
     height: 100%;
     margin: 0 auto;
}

.h21{
     display: block;
     height: 100%;
     margin: 300px auto;
}

.h22{
     display: block;
     height: 100%;
     margin: 100px auto;
}












.zz1{
     font-size:20px;
     color: white;
     text-decoration: none;  
     margin-left: 50px;
     
       
}

.zz2{
     font-size:20px;
     color: white;
     text-decoration: none;
     margin-left: 50px;        
}

.zz3{
     font-size:20px;
     color: white;
     text-decoration: none;
     margin-left: 50px;    
}

.zz4{ 
     font-size:20px;
     color: white;
     text-decoration: none;
     margin-left: 50px;
}

.zz5{
     font-size:20px;
     color: white;
     text-decoration: none;
     margin-left: 50px;
}